html {
  font-family: "Inter", sans-serif;
  font-family: "Kalam", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  background: linear-gradient(45deg, #e20813, rgb(7, 7, 223));
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: aliceblue;
  border-radius: 10px;
  height: 92dvh;
  width: 90dvw;
  box-shadow: 5px 8px 15px rgb(218, 218, 226);
}
.content_left {
  height: 92dvh;
  width: 45dvw;
  background-color: lightcyan;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_section {
  height: 85dvh;
  width: 40dvw;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(56, 185, 185);
}
.login_section h2 {
  padding-left: 25px;
  color: rgb(14, 6, 82);
}
.login_section p {
  padding-left: 25px;
  font-size: 20px;
}
.login_section p a {
  padding-left: 5px;
  color: rgb(101, 6, 179);
}
.login_section form {
  padding-left: 20px;
}
.login_section form input {
  margin-left: 20px;
  margin-top: 15px;
  width: 80%;
  height: 25px;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid rgb(129, 5, 129);
}
.login input[type="submit"] {
  margin-top: 45px;
  margin-left: 20px;
  width: 80%;
  height: 40px;
  background: linear-gradient(45deg, rgb(117, 4, 117), rgb(10, 10, 211));
  color: white;
  font-size: larger;
  border: none;
}
.login input[type="submit"]:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
.login a input[type="submit"]{
  text-decoration: none;
}
