html {
  font-family: "Inter", sans-serif;
  font-family: "Kalam", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  background: linear-gradient(45deg, #e20813, rgb(7, 7, 223));
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: aliceblue;
  display: flex;
  border-radius: 10px;
  height: 92dvh;
  width: 90dvw;
  box-shadow: 5px 8px 15px rgb(218, 218, 226);
}
.content_left {
  height: 92dvh;
  width: 45dvw;
  background-color: lightcyan;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_section {
  height: 85dvh;
  width: 40dvw;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(56, 185, 185);
}
.login_section h2 {
  padding-left: 45px;
  color: rgb(14, 6, 82);
}
.login_section p {
  padding-left: 45px;
  font-size: 20px;
}
.login_section p a {
  padding-left: 5px;
  color: rgb(101, 6, 179);
}
.login_section form {
  padding-left: 20px;
}
.login_section form input {
  margin-left: 20px;
  margin-top: 15px;
  width: 86%;
  height: 30px;
  padding: 5px;
  border-radius: 40px;
  font-size: medium;
  border: 2px solid rgb(129, 5, 129);
}
.login input[type="submit"] {
  margin-top: 10px;
  width: 90%;
  height: 45px;
  background: linear-gradient(45deg, rgb(117, 4, 117), rgb(10, 10, 211));
  color: white;
  font-size: larger;
  border: none;
  transition: 0.5s;
}
.login input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.login a input[type="submit"] {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}
.inputbox{
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.inputbox a {
  margin-left: 235px;
  text-decoration: none;
  font-size: medium;
}
.social {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social1 {
  width: 30%;
  background-color: rgb(235, 222, 222);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border: 2px dashed rgb(17, 17, 243);
  border-radius: 25px;
  align-items: center;
  box-shadow: 5px 5px 10px rgb(101, 6, 179);
  transition: 0.5s;
}
.social1:hover {
  transition: 0.5s;
  transform: scale(0.8);
  cursor: pointer;
}
.social1 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 13px;
}
.social1 img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.social2 {
  width: 30%;
  background-color: rgb(235, 222, 222);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border: 2px dashed rgb(17, 17, 243);
  border-radius: 25px;
  align-items: center;
  box-shadow: 5px 5px 10px rgb(101, 6, 179);
  transition: 0.5s;
}
.social2:hover {
  transition: 0.5s;
  transform: scale(0.8);
  cursor: pointer;
}
.social2 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 13px;
}
.social2 img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.content_right {
  height: 92dvh;
  width: 45dvw;
  background-color: white;
  border-radius: 0 10px 10px 0;
}
.content_right .image {
  border-radius: 0 10px 10px 0;
}

@media only screen and (min-width: 370px) and (max-width: 475px) {
  .container {
    background: linear-gradient(45deg, #e20813, rgb(7, 7, 223));
    height: 100dvh;
    width: 100dvw;
  }
  .content {
    background-color: aliceblue;
    border-radius: 10px;
    height: 92dvh;
    width: 95dvw;
    box-shadow: 5px 8px 15px rgb(218, 218, 226);
    display: flex;
  }
  .content_right {
    height: 0;
    width: 0;
  }

  .content_left {
    height: 92dvh;
    width: 95dvw;
    background-color: lightcyan;
    border-radius: 10px 10px 10px 10px;
  }
  .login_section {
    height: 85dvh;
    width: 86dvw;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(56, 185, 185);
  }
  .image {
    /* width: 18rem;
    height: 18rem;
    background: none;
    position: absolute;
    left: 100px;
    right: 50px;
    top: 65px;  */
    display: none
  }
  .login_section h2 {
    font-size: 35px;
    margin-top: 60px;
  }
  .login_section p {
    font-size: 25px;
  }
  .login_section form {
    padding-left: 10px;
  }
  .login_section form input {
    margin-left: 10px;
    margin-top: 15px;
    width: 86%;
    height: 25px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(129, 5, 129);
  }
  .inputbox a {
    margin-left: 220px;
    text-decoration: none;
    font-size: 10px;
    flex-wrap: wrap;
  }
  .social {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social1 {
  width: 35%;
  background-color: rgb(235, 222, 222);
  padding: 6px;
  display: flex;
  justify-content: space-between;
  border: 2px dashed rgb(17, 17, 243);
  border-radius: 25px;
  align-items: center;
  box-shadow: 5px 5px 10px rgb(101, 6, 179);
  transition: 0.5s;
}
.social1:hover {
  transition: 0.5s;
  transform: scale(0.8);
  cursor: pointer;
}
.social1 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 10px;
}
.social1 img {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.social2 {
  width: 35%;
  background-color: rgb(235, 222, 222);
  padding: 6px;
  display: flex;
  justify-content: space-between;
  border: 2px dashed rgb(17, 17, 243);
  border-radius: 25px;
  align-items: center;
  box-shadow: 5px 5px 10px rgb(101, 6, 179);
  transition: 0.5s;
}
.social2:hover {
  transition: 0.5s;
  transform: scale(0.8);
  cursor: pointer;
}
.social2 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 10px;
}
.social2 img {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
}
